* {
    margin: 0;
    padding: 0;
} 

/* link senza underline */

a:link { 
    text-decoration: none; 
}

a:visited { 
    text-decoration: none; 
}

a:hover { 
    text-decoration: none; 
}

a:active { 
    text-decoration: none; 
}

main{
    padding: 1%;
}

/* logo */

.logo{
    background-color: lightskyblue;
    background-image: url(../img/pattern.png);
    background-size: 30%;
}

h1{
    font-size: 40px;
}

#logo{
    padding-top: 3%;
    padding-bottom: 1%;
    padding-left: 1%;
    text-align: left;
    width: 15%;
    height: auto;
}

/*main*/

#data{
    font-size: 12px;
    padding-bottom: 1%;
}

.didascalia{
    font-size: 10px;
}

.testo{
    padding-top: 2%;
}

#lista{
    padding-left: 1%;
}

table{
    padding-top: 1%;
    text-align: left;
}

th{
    color: white;  
    background-color: rgb(70, 166, 255);
}

.lightblue{
    background-color: lightblue;
}

.smallcolumn{
    width: 25%;
}

.bigcolumn{
    width: auto;
}

.giallo { 
    background:#FFFF00; 
}

/*footer*/

footer{
    padding: 1%;
}

h3{
    color: gray;
}

.container{
    position: relative;
}

.testospot{
    position: absolute;
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 1%;
}